WcfRestPOC/WcfRestPOC.MVC.Client/Service References/RestPOC/RestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51668/RestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51668/RestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51668/RestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfRestPOC.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestService_Sample_InputMessage">
    <wsdl:part name="parameters" element="tns:Sample" />
  </wsdl:message>
  <wsdl:message name="IRestService_Sample_OutputMessage">
    <wsdl:part name="parameters" element="tns:SampleResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetBookList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookList" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetBookList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookListResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IRestService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IRestService_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IRestService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestService">
    <wsdl:operation name="Sample">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/Sample" message="tns:IRestService_Sample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/SampleResponse" message="tns:IRestService_Sample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetBookList" message="tns:IRestService_GetBookList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetBookListResponse" message="tns:IRestService_GetBookList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/AddBook" message="tns:IRestService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/AddBookResponse" message="tns:IRestService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetBook" message="tns:IRestService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetBookResponse" message="tns:IRestService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/UpdateBook" message="tns:IRestService_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/UpdateBookResponse" message="tns:IRestService_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/DeleteBook" message="tns:IRestService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/DeleteBookResponse" message="tns:IRestService_DeleteBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RestService" />
</wsdl:definitions>